body {
  text-align: center; 
  background: #154FFF;
  color: white;
  font-family: 'Helvetica';
}

input {
  height: 36px;
}

button {
  background-color: #fff;
  color: #999;
  border: 1px solid #00ffff;
  padding: 12px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}

button:hover {
  background-color: #999;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12),
  0 2px 4px 0 rgba(0,0,0,0.08);
}

.hidden {
  display: none;
}

.wrong_hidden {
  display: none;
}

.questions {
  text-align: left;
  margin-left: 45%;
}

.wrong_hidden h1 {
  margin: 150px 0px 75px 0px;
}

.hidden h1 {
  margin: 150px 0px 75px 0px;
}

.main h1 {
  margin-top: 30px;
}

img {
  margin-top: 100px;
  width: 600px;
  height: 300px;
}